/* .sidebar ul {
  list-style-type: none;
  padding: 0;
  margin-left: 1rem;
}

.sidebar ul li a {
  display: block;
  color: white;
} */
#default .card-header {
  border: 0;
  background-color: initial;
  
}

#default .card-footer {
  border: 0;
  background-color: initial;
}

.dot{
  list-style: none;
  font-weight: bold;

}
.region{
  justify-content: space-between;
}
.name{
  color: rgb(85, 77, 77);
}
.dounut{
  height: 300px;
  width: 300px;
}
.logo{
  
}