/* .sidebar ul {
  list-style-type: none;
  padding: 0;
  margin-left: 1rem;
}

.sidebar ul li a {
  display: block;
  color: white;
} */
#default .card-header {
  border: 0;
  background-color: initial;
  
}

#default .card-footer {
  border: 0;
  background-color: initial;
}